.red {
    color: red;
}
  
.bold {
    font-weight: bold;
}

button {
    background-color: 'green';
      font: 'inherit';
      color: '#fff';
      cursor: 'pointer';
      border: '1px solid blue';
      padding: '8px';
      outline: 'none';
}

button:hover {
    background-color: 'lightgreen';
    color: 'black';
}